@tailwind base;
@tailwind components;
@tailwind utilities;

.search-box {
  -webkit-box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.54);
  box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.54);
}

.banner img {
  width: clamp(205px, 210px, 210px) !important;
}

.swiper {
  height: 40% !important;
}

.swiper-wrapper {
  height: 40% !important;
}

.swiper-button-prev {
  background-image: url(/assets/homecarousel/arrow.svg) !important;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  transform: rotate(180deg);
}

.swiper-button-next {
  background-image: url(/assets/homecarousel/arrow.svg) !important;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-slide {
  /* border: 1px solid red; */
  max-width: 266px;
  height: 100% !important;
}

.category {
  width: clamp(16.25rem, 16.625rem, 16.8rem);
  height: clamp(20rem, 20.4375rem, 21rem);
  border: 1px solid purple;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 100;
}

.imagecategory:hover .tooltiptext {
  visibility: visible;
}

/* FONTS */

.cinzel {
  font-family: var(--font-cinzel);
}

.roboto {
  font-family: var(--font-roboto);
}

@media (max-width: 768px) {
  .search-box {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    /* outline: 0.1px solid black; */
  }

  /* .search-box input:focus {
    outline: 2px solid blue;
  } */

  .banner {
    width: 100% !important;
    height: clamp(195px, 202px, 250px) !important;
  }

  .banner img {
    width: 15% !important;
  }

  .category-section img {
    width: 95% !important;
    height: 95% !important;
  }
}
