@tailwind base;
@tailwind components;
@tailwind utilities;

.search-box {
  -webkit-box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.54);
  box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.54);
}
